<div
  class="home-content-container w-full relative h-full flex flex-col gap-2 justify-start items-center"
>
  <div
    [routerLink]="['collection', 'currently-reading']"
    class="currently-reading-container w-19/20 h-1/4 bg-amaranth rounded-xl p-3 flex flex-row"
  >
    <app-collection-display
      [category]="'currently reading'"
      class="w-full h-full"
    />
  </div>
  <div
    [routerLink]="['collection', 'tbr']"
    class="tbr-container w-19/20 h-1/4 rounded-xl flex flex-row bg-mantis-green p-3"
  >
    <app-collection-display [category]="'tbr'" class="w-full h-full"/>
  </div>
  <div
    [routerLink]="['collection', 'dnf']"
    class="dnf-container w-19/20 h-1/4 rounded-xl flex flex-row bg-indigo-dye p-3"
  >
    <app-collection-display [category]="'dnf'" class="w-full h-full"/>
  </div>
  <div
    [routerLink]="['collection', 'read']"
    class="read-container w-19/20 h-1/4 rounded-xl flex flex-row bg-dull-violet p-3"
  >
    <app-collection-display [category]="'read'" class="w-full h-full"/>
  </div>
</div>
