<div class="footer-container h-full w-full flex flex-col justify-end">
  <ul class="w-full h-4/5 bg-seasalt flex flex-row justify-center items-center">
    <li
      [routerLink]="['/home']"
      class="w-1/3 h-full flex justify-center items-center"
    >
      Home
    </li>
    <li
      [routerLink]="['explore']"
      class="w-1/3 h-full flex justify-center items-center"
    >
      Explore
    </li>
    <li
      [routerLink]="['stats']"
      class="w-1/3 h-full flex justify-center items-center"
    >
      Stats
    </li>
  </ul>
</div>
