<div
  class="header-container w-full h-full flex flex-row items-center justify-start justify-self-center"
>
  <div
    class="user-container h-full w-full flex justify-start items-center gap-2"
  >
    @if ((loggedInUserInfo$ | async)?.displayName !== "") {
      <p
        class="bg-seasalt w-fit h-fit rounded-3xl px-3 py-1.5 text-xl font-pacifico text-pale-brown"
      >
        {{ (loggedInUserInfo$ | async)?.displayName?.charAt(0) }}
      </p>
      <p class="font-tilt-neon font-semibold text-lg text-pale-brown">
        Hi {{ (loggedInUserInfo$ | async)?.displayName }}
      </p>
    }


  </div>
  <button (click)="handleLogOutClick()"
          class="bg-seasalt w-fit h-fit px-2 py-2 rounded-2xl flex justify-center align-center">
    <ng-icon class="font-extrabold text-xl" name="heroArrowLeftEndOnRectangle"></ng-icon>
  </button>
</div>
