<div class="w-full h-full flex flex-col justify-center items-start">
  <h2 class="font-tilt-neon text-2xl py-4 text-pale-brown">
    {{ selectedCollection?.replace("-", " ")?.toUpperCase() }}
  </h2>
  <div
    class="books-container w-full h-full overlow-x-hidden overflow-y-scroll flex flex-row flex-wrap gap-4 justify-start items-center content-start"
  >

    @if (selectedCollection?.replace("-", " ") === "currently reading") {
      @for (book of currentlyReading; track book.title) {
        <div
          [routerLink]="['book/' + book.isbn ]"
          class="book-container w-[30%] h-[35%] flex flex-col"
        >
          <div
            class="bg-transparent  w-full h-full rounded-md sm:w-1/5"
          >
            <img alt="Book Cover Image" [src]=book.cover_url class="rounded-md object-cover">
          </div>
          <p class="text-wrap font-tilt-neon text-pale-brown font-bold text-lg">
            {{ book.title }}
          </p>

          <p class="text-wrap font-tilt-neon text-amaranth text-sm">
            {{ book.author }}
          </p>
        </div>

      }
    } @else if (selectedCollection?.replace("-", " ") === "read") {
      @for (book of read; track book.title) {
        <div
          [routerLink]="['book/' + book.isbn ]"
          class="book-container w-[30%] h-[35%] flex flex-col"
        >
          <div
            class="bg-transparent w-full h-full rounded-md sm:w-1/5"
          >
            <img alt="Book Cover Image" [src]=book.cover_url class="rounded-md object-cover">
          </div>
          <p class="text-wrap font-tilt-neon text-pale-brown font-bold text-lg">
            {{ book.title }}
          </p>

          <p class="text-wrap font-tilt-neon text-amaranth text-sm">
            {{ book.author }}
          </p>
        </div>

      }
    } @else if (selectedCollection?.replace("-", " ") === "tbr") {
      @for (book of tbr; track book.title) {
        <div
          [routerLink]="['book/' + book.isbn ]"
          class="book-container w-[30%] h-[35%] flex flex-col"
        >
          <div
            class="bg-transparent  w-full h-full rounded-md sm:w-1/5"
          >
            <img alt="Book Cover Image" [src]=book.cover_url class="rounded-md object-cover">
          </div>
          <p class="text-wrap font-tilt-neon text-pale-brown font-bold text-lg">
            {{ book.title }}
          </p>

          <p class="text-wrap font-tilt-neon text-amaranth text-sm">
            {{ book.author }}
          </p>
        </div>

      }
    } @else if (selectedCollection?.replace("-", " ") === "dnf") {
      @for (book of dnf; track book.title) {
        <div
          [routerLink]="['book/' + book.isbn ]"
          class="book-container w-[30%] h-[35%] flex flex-col"
        >
          <div
            class="bg-transparent  w-full h-full rounded-md sm:w-1/5"
          >
            <img alt="Book Cover Image" [src]=book.cover_url class="rounded-md object-cover">
          </div>
          <p class="text-wrap font-tilt-neon text-pale-brown font-bold text-lg">
            {{ book.title }}
          </p>

          <p class="text-wrap font-tilt-neon text-amaranth text-sm">
            {{ book.author }}
          </p>
        </div>

      }
    }
  </div>
</div>
