<div class="w-full h-full flex flex-col justify-center items-start">
  @if (selectedCollection) {
    <h2 class="font-tilt-neon text-2xl py-4 text-pale-brown font-bold">
      {{ selectedCollection.length < 4 ? selectedCollection.toUpperCase() : selectedCollection.substring(0, 1).toUpperCase() + selectedCollection.substring(1, selectedCollection.length) }}
    </h2>
  }
  <div
    class="books-container w-full h-full overflow-x-hidden overflow-y-scroll flex flex-row flex-wrap gap-4 justify-start items-center content-start"
  >

    @if (selectedCollection?.replace("-", " ") === "currently reading") {
      @if ((currentBooks$ | async)?.bookshelf!.currentlyReading) {
        @for (book of (currentBooks$ | async)!.bookshelf!.currentlyReading; track book.title) {
          <div
            [routerLink]="['book/' + book.isbn ]"
            class="book-container w-[30%] h-[35%] flex flex-col"
          >
            <div
              class="bg-transparent w-full h-full rounded-md sm:w-1/5"
            >
              <img alt="Book Cover Image" [src]=book.cover_url class="rounded-md object-cover">
            </div>
            <div class="basis-1/2 align-self-end flex flex-col justify-center">
              <p class="text-wrap font-tilt-neon text-pale-brown font-bold text-lg">
                {{ book.title.length > 12 ? book.title.slice(0, 10) + "..." : book.title }}
              </p>

              <p class="text-wrap font-tilt-neon text-amaranth text-sm">
                {{ book.author }}
              </p>
            </div>
          </div>

        }
      }

    } @else if (selectedCollection === "read") {
      @if ((currentBooks$ | async)?.bookshelf!.read) {

        @for (book of (currentBooks$ | async)!.bookshelf!.read; track book.title) {
          <div
            [routerLink]="['book/' + book.isbn ]"
            class="book-container w-[30%] h-[35%] flex flex-col"
          >
            <div
              class="bg-transparent  w-full h-[70%] rounded-md sm:w-1/5 basis-1/2"
            >
              <img alt="Book Cover Image" [src]=book.cover_url class="rounded-md object-cover w-full h-full">
            </div>
            <div class="basis-1/2 align-self-end flex flex-col justify-center">
              <p class="text-wrap font-tilt-neon text-pale-brown font-bold text-lg">
                {{ book.title.length > 15 ? book.title.slice(0, 10) + "..." : book.title }}
              </p>

              <p class="text-wrap font-tilt-neon text-amaranth text-sm">
                {{ book.author }}
              </p>
            </div>
          </div>

        }
      }
    } @else if (selectedCollection === "tbr") {
      @if ((currentBooks$ | async)?.bookshelf!.tbr) {
        @for (book of (currentBooks$ | async)!.bookshelf!.tbr; track book.title) {
          <div
            [routerLink]="['book/' + book.isbn ]"
            class="book-container w-[30%] h-[35%] flex flex-col justify-between"
          >
            <div
              class="bg-transparent  w-full h-[70%] rounded-md sm:w-1/5 basis-1/2"
            >
              <img alt="Book Cover Image" [src]=book.cover_url class="rounded-md object-cover w-full h-full">
            </div>
            <div class="basis-1/2 align-self-end flex flex-col justify-center">
              <p class="text-wrap font-tilt-neon text-pale-brown font-bold text-lg">
                {{ book.title.length > 12 ? book.title.slice(0, 10) + "..." : book.title }}
              </p>

              <p class="text-wrap font-tilt-neon text-amaranth text-sm">
                {{ book.author }}
              </p>
            </div>
          </div>

        }
      }

    } @else if (selectedCollection === "dnf") {
      @if ((currentBooks$ | async)?.bookshelf!.dnf) {
        @for (book of (currentBooks$ | async)!.bookshelf!.dnf; track book.title) {
          <div
            [routerLink]="['book/' + book.isbn ]"
            class="book-container w-[30%] h-[35%] flex flex-col justify-between"
          >
            <div
              class="bg-transparent  w-full h-[70%] rounded-md sm:w-1/5 basis-1/2"
            >
              <img alt="Book Cover Image" [src]=book.cover_url class="rounded-md object-cover w-full h-full">
            </div>
            <div class="basis-1/2 align-self-end flex flex-col justify-center">
              <p class="text-wrap font-tilt-neon text-pale-brown font-bold text-lg">
                {{ book.title.length > 12 ? book.title.slice(0, 10) + "..." : book.title }}
              </p>

              <p class="text-wrap font-tilt-neon text-amaranth text-sm">
                {{ book.author }}
              </p>
            </div>
          </div>
        }
      }
    }
  </div>
</div>
