<div class="bg-linen modal-box w-full h-4/5 absolute top-0">
  <form method="dialog">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
  </form>
  <p class="font-bold text-3xl font-tilt-neon text-pale-brown mb-4">{{ book?.title }}</p>
  <div class="book-info-container w-full h-[85%]">
    <div class="book-basics-container flex flex-row h-[35%]">
      <div class="book-cover-container w-1/3 h-full">
        @if (book?.imageLinks?.thumbnail) {
          <img [src]=book?.imageLinks?.thumbnail alt="Book Cover Image" class="rounded-md w-full h-full">
        } @else {
          <img src="assets/jaredd-craig-HH4WBGNyltc-unsplash.jpg" alt="Book Cover Default Image"
               class="rounded-md w-full h-full">
        }
      </div>
      <div class="w-2/3 h-full overflow-y-hidden flex flex-col justify-center items-center gap-2">
        @if (book?.subtitle) {
          <p class="text-2xl font-tilt-neon text-china-rose">{{ book?.subtitle }}</p>
        }
        <p class="text-xl font-tilt-neon text-pale-brown">{{ book?.authors?.[0] }}</p>
        <div class="book-info-pills flex flex-row gap-2 overlfow-x-scroll">
          @if (book?.pageCount) {
            <label
              class="w-fit h-fit bg-seasalt font-tilt-neon text-pale-brown text-sm rounded-2xl text-nowrap px-2.5 py-1.5">
              {{ book?.pageCount }} pages
            </label>
          }
          @if (book?.publishedDate) {
            <label
              class="w-fit h-fit bg-seasalt font-tilt-neon text-pale-brown text-sm rounded-2xl text-nowrap px-2.5 py-1.5">
              Published: {{ book?.publishedDate }}
            </label>
          }
        </div>
        <button
          [nzType]="'primary'"
          class="login-form-button login-form-margin w-2/5 rounded-2xl flex flex-row gap-0 mt-4 hover:cursor-pointer"
          nz-button
        >
          <!-- Keeping this here for future use -->

          <!-- from-burnt-sienna via-green-gray to-light-coral -->
          <div
            class="w-1/3 h-full bg-gradient-to-r from-burnt-sienna via-amaranth to-slate-500 rounded-l-3xl"
          ></div>
          <div
            class="w-1/3 h-full bg-gradient-to-r from-slate-500 via-green-gray to-old-gold p-2 text-white font-semibold text-xl"
          >
            +
          </div>
          <div
            class="w-1/3 h-full bg-gradient-to-r from-old-gold via-burnt-sienna to-amaranth rounded-r-3xl"
          ></div>
        </button>

      </div>

    </div>
    <div class="description-container w-full h-2/5 overflow-x-hidden overflow-y-scroll mt-4">
      <p class="text-lg font-tilt-neon text-pale-brown">{{ book?.description }}</p>
    </div>

  </div>
</div>

