<div
  class="w-full h-1/3 bg-gradient-to-b from-burnt-sienna via-amaranth to-slate-500 rounded-tl-lg"
></div>
<div
  class="w-full h-1/3 bg-gradient-to-b from-slate-500 via-green-gray to-old-gold p-2 flex justify-center"
>
  <h1
    class="font-rouge-script h-fit text-white text-[70px] drop-shadow-xl font-semibold"
  >
    Paperclip
  </h1>
</div>
<div
  class="w-full h-1/3 bg-gradient-to-b from-old-gold via-burnt-sienna to-amaranth rounded-bl-lg flex flex-col justify-end"
>
  <div
    class="books-container h-full w-full flex flex-col justify-end items-center overflow-y-hidden flex-nowrap"
  >
    <div
      class="bg-amaranth flex flex-row justify-center shadow-inner shadow-gray-500 rounded-lg w-1/2 h-1/4 md:gap-40 lg:w-2/5 lg:gap-44 md:rounded-xl xl:gap-48"
    >
      <div class="bg-pink-900 w-1/25 h-full"></div>
      <div class="bg-pink-900 w-1/25 h-full"></div>
    </div>
    <div
      class="bg-indigo-dye rounded-l-3xl rounded-r-md ml-10 flex justify-end items-center w-1/2 h-1/5 lg:w-2/5 lg:h-1/4 md:rounded-l-3xl lg:rounded-r-xl"
    >
      <div
        class="bg-linen w-19/20 h-13/20 shadow-inner rounded-l-xl shadow-gray-400 lg:rounded-l-2xl"
      ></div>
    </div>
    <div
      class="bg-dull-violet rounded-lg ml-6 flex justify-center gap-8 items-center shadow-inner shadow-gray-500 w-1/2 h-7/20 lg:w-2/5 md:rounded-xl"
    >
      <div class="bg-violet-950 w-1/25 h-full"></div>
      <div class="bg-violet-950 w-2/5 h-7/20 rounded-md lg:rounded-lg"></div>
      <div class="bg-violet-950 w-1/25 h-full"></div>
    </div>
    <div
      class="bg-mantis-green flex flex-row justify-center shadow-inner shadow-gray-500 rounded-lg w-1/2 h-1/5 md:gap-40 lg:w-2/5 lg:gap-44 md:rounded-xl xl:gap-48"
    >
      <div class="bg-green-800 w-1/25 h-full"></div>
      <div class="bg-green-800 w-1/25 h-full"></div>
    </div>
    <div
      class="bg-pink-900 rounded-l-3xl ml-4 rounded-r-md flex justify-end items-center w-1/2 h-1/5 lg:w-2/5 lg:h-1/4 md:rounded-l-3xl md:rounded-r-xl"
    >
      <div
        class="bg-linen w-19/20 h-13/20 shadow-inner rounded-l-xl shadow-gray-400 lg:rounded-l-2xl"
      ></div>
    </div>
  </div>
</div>
