@if (category === "currently reading") {
  @if ((currentBooks$ | async)?.bookshelf!.currentlyReading && (currentBooks$ | async)?.bookshelf!.currentlyReading.length != 0) {
    <div class="flex flex-row w-full h-full overlow-y-scroll sm:overflow-y-hidden">
      <div
        class="bg-transparent  w-[32%] h-full rounded-md sm:w-1/5 overflow-none flex flex-wrap flex-row"
      >
        @if ((currentBooks$ | async)?.bookshelf && (currentBooks$ | async)?.bookshelf!.currentlyReading) {
          <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.currentlyReading)[0]'
               class="object-fit h-full w-full rounded-md">
        }
      </div>
      <div
        class="category-container flex flex-col w-[65%] sm:w-9/10 h-full justify-between pl-4"
      >
        <div class="w-full h-fit flex flex-col gap-0">
          <div
            class="genre-container flex flex-row justify-start gap-2 overflow-x-scroll sm:overflow-hidden"
          >
            @if ((currentBooks$ | async)?.bookshelf!.currentlyReading) {
              @if (getMoods((currentBooks$ | async)!.bookshelf.currentlyReading).length > 1) {

                @for (mood of getMoods((currentBooks$ | async)!.bookshelf.currentlyReading); track mood) {
                  <div
                    class="bg-white rounded-2xl font-tilt-neon text-nowrap text-black text-xs w-fit h-fit px-2 py-1"
                  >
                    {{ mood }}
                  </div>
                }
              } @else {
                @for (bookCategory of getCategories((currentBooks$ | async)!.bookshelf.currentlyReading); track bookCategory) {
                  <div
                    class="bg-white rounded-2xl font-tilt-neon text-nowrap text-black text-xs w-fit h-fit px-2 py-1"
                  >
                    {{ bookCategory.toLowerCase() }}
                  </div>
                }
              }
            }
          </div>
          <h2
            class="font-tilt-neon text-white text-xl font-bold mt-2 text-nowrap md:text-2xl"
          >
            {{ category.toUpperCase() }}
          </h2>
          <h3 class="font-tilt-neon font-extralight text-white text-sm">
            {{ (currentBooks$ | async)!.bookshelf.currentlyReading[0].author }}
          </h3>
        </div>

        <div class="pages-left-container align-bottom">
          <p
            class="font-tilt-neon font-semibold text-white text-3xl flex flex-row gap-2 justify-end align-self-end items-end"
          >
            @if ((currentBooks$ | async)?.bookshelf!.currentlyReading) {
              {{ (currentBooks$ | async)!.bookshelf.currentlyReading[0].pages_read }}
            }

            <span class="text-sm font-tilt-neon">pages read</span>
          </p>
        </div>

      </div>
    </div>


  } @else {
    <div class="flex flex-row w-full h-full overlow-y-scroll sm:overflow-y-hidden">
      <div
        class="bg-transparent  w-[32%] h-full rounded-md sm:w-1/5 overflow-none flex flex-wrap flex-row"
      >
        <img alt="Book Cover Image" src="assets/jaredd-craig-HH4WBGNyltc-unsplash.jpg"
             class="object-fit h-full w-full rounded-md">
      </div>
      <div
        class="category-container flex flex-col w-[65%] sm:w-9/10 h-full justify-between pl-4"
      >
        <div class="w-full h-full flex flex-col gap-0 justify-between items-end">
          <h2
            class="font-tilt-neon text-white text-xl font-bold ml-2 text-nowrap md:text-2xl w-full mb-2"
          >
            {{ category.toUpperCase() }}
          </h2>
          <button [routerLink]="['explore']"
                  class="bg-white h-fit w-fit px-3 py-1 rounded-3xl text-2xl text-amaranth font-tilt-neon">+
          </button>
        </div>
      </div>
    </div>
  }
} @else if (category === "tbr") {
  @if ((currentBooks$ | async)?.bookshelf!.tbr && (currentBooks$ | async)?.bookshelf!.tbr.length != 0) {
    <div class="flex flex-row w-full h-full overlow-y-scroll sm:overflow-y-hidden">
      <div
        class="bg-transparent  w-[32%] h-full rounded-md sm:w-1/5 overflow-none flex flex-wrap flex-row"
      >
        @if ((currentBooks$ | async)?.bookshelf && (currentBooks$ | async)?.bookshelf!.tbr) {
          @if ((currentBooks$ | async)?.bookshelf!.tbr.length < 4) {
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.tbr)[0]'
                 class="object-fit h-full w-full rounded-md">
          } @else {
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.tbr)[0]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-tl-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.tbr)[1]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-tr-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.tbr)[2]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-bl-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.tbr)[3]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-br-md">
          }
        }
      </div>
      <div
        class="category-container flex flex-col w-[65%] sm:w-9/10 h-full justify-between pl-4"
      >
        <div class="w-full h-fit flex flex-col gap-0">
          <div
            class="genre-container flex flex-row justify-start gap-2 overflow-x-scroll sm:overflow-hidden"
          >
            @if (category === "tbr" && (currentBooks$ | async)?.bookshelf!.tbr) {

              @for (bookCategory of getCategories((currentBooks$ | async)!.bookshelf.tbr); track bookCategory) {
                <div
                  class="bg-white rounded-2xl font-tilt-neon text-nowrap text-black text-xs w-fit h-fit px-2 py-1"
                >
                  {{ bookCategory.toLowerCase() }}
                </div>
              }
            }
          </div>
          <h2
            class="font-tilt-neon text-white text-xl font-bold mt-2 text-nowrap md:text-2xl"
          >
            {{ category.toUpperCase() }}
          </h2>
          <h3 class="font-tilt-neon font-extralight text-white text-sm">
            @if ((currentBooks$ | async)?.bookshelf!.tbr) {
              {{ getAuthorCount((currentBooks$ | async)!.bookshelf.tbr) }} authors
            }
          </h3>
        </div>

        <div class="pages-left-container align-bottom">
          <p
            class="font-tilt-neon font-semibold text-white text-3xl flex flex-row gap-2 justify-end align-self-end items-end"
          >
            @if (category === "tbr" && (currentBooks$ | async)?.bookshelf!.tbr) {
              <p
                class="font-tilt-neon font-semibold text-white text-3xl flex flex-row gap-2 justify-end align-self-end items-end"
              >
                {{ (currentBooks$ | async)!.bookshelf.tbr.length }}
                <span
                  class="text-sm font-tilt-neon"> {{ (currentBooks$ | async)!.bookshelf.tbr.length == 1 ? "book" : "books" }}
                          </span>
              </p>
            }
          </p>
        </div>

      </div>
    </div>


  } @else {
    <div class="flex flex-row w-full h-full overlow-y-scroll sm:overflow-y-hidden">
      <div
        class="bg-transparent  w-[32%] h-full rounded-md sm:w-1/5 overflow-none flex flex-wrap flex-row"
      >
        <img alt="Book Cover Image" src="assets/jaredd-craig-HH4WBGNyltc-unsplash.jpg"
             class="object-fit h-full w-full rounded-md">
      </div>
      <div
        class="category-container flex flex-col w-[65%] sm:w-9/10 h-full justify-between pl-4"
      >
        <div class="w-full h-full flex flex-col gap-0 justify-between items-end">
          <h2
            class="font-tilt-neon text-white text-xl font-bold ml-2 text-nowrap md:text-2xl w-full mb-2"
          >
            {{ category.toUpperCase() }}
          </h2>
          <button [routerLink]="['explore']"
                  class="bg-white h-fit w-fit px-3 py-1 rounded-3xl text-2xl text-mantis-green font-tilt-neon">+
          </button>
        </div>
      </div>
    </div>
  }
} @else if (category === "read") {
  @if ((currentBooks$ | async)?.bookshelf!.read && (currentBooks$ | async)?.bookshelf!.read.length != 0) {
    <div class="flex flex-row w-full h-full overlow-y-scroll sm:overflow-y-hidden">
      <div
        class="bg-transparent  w-[32%] h-full rounded-md sm:w-1/5 overflow-none flex flex-wrap flex-row"
      >
        @if ((currentBooks$ | async)?.bookshelf && (currentBooks$ | async)?.bookshelf!.read) {
          @if ((currentBooks$ | async)?.bookshelf!.read.length < 4) {
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.read)[0]'
                 class="object-fit h-full w-full rounded-md">
          } @else {
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.read)[0]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-tl-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.read)[1]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-tr-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.read)[2]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-bl-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.read)[3]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-br-md">
          }
        }
      </div>
      <div
        class="category-container flex flex-col w-[65%] sm:w-9/10 h-full justify-between pl-4"
      >
        <div class="w-full h-fit flex flex-col gap-0">
          <div
            class="genre-container flex flex-row justify-start gap-2 overflow-x-scroll sm:overflow-hidden"
          >
            @if ((currentBooks$ | async)?.bookshelf!.read) {

              @for (bookCategory of getCategories((currentBooks$ | async)!.bookshelf.read); track bookCategory) {
                <div
                  class="bg-white rounded-2xl font-tilt-neon text-nowrap text-black text-xs w-fit h-fit px-2 py-1"
                >
                  {{ bookCategory.toLowerCase() }}
                </div>
              }
            }
          </div>
          <h2
            class="font-tilt-neon text-white text-xl font-bold mt-2 text-nowrap md:text-2xl"
          >
            {{ category.toUpperCase() }}
          </h2>
          <h3 class="font-tilt-neon font-extralight text-white text-sm">
            @if ((currentBooks$ | async)?.bookshelf!.read) {
              {{ getAuthorCount((currentBooks$ | async)!.bookshelf.read) }} authors
            }
          </h3>
        </div>

        <div class="pages-left-container align-bottom">
          <p
            class="font-tilt-neon font-semibold text-white text-3xl flex flex-row gap-2 justify-end align-self-end items-end"
          >
            @if ((currentBooks$ | async)?.bookshelf!.read) {
              <p
                class="font-tilt-neon font-semibold text-white text-3xl flex flex-row gap-2 justify-end align-self-end items-end"
              >
                {{ (currentBooks$ | async)!.bookshelf.read.length }}
                <span
                  class="text-sm font-tilt-neon"> {{ (currentBooks$ | async)!.bookshelf.read.length == 1 ? "book" : "books" }}
                          </span>
              </p>
            }
          </p>
        </div>

      </div>
    </div>


  } @else {
    <div class="flex flex-row w-full h-full overlow-y-scroll sm:overflow-y-hidden">
      <div
        class="bg-transparent  w-[32%] h-full rounded-md sm:w-1/5 overflow-none flex flex-wrap flex-row"
      >
        <img alt="Book Cover Image" src="assets/jaredd-craig-HH4WBGNyltc-unsplash.jpg"
             class="object-fit h-full w-full rounded-md">
      </div>
      <div
        class="category-container flex flex-col w-[65%] sm:w-9/10 h-full justify-between pl-4"
      >
        <div class="w-full h-full flex flex-col gap-0 justify-between items-end">
          <h2
            class="font-tilt-neon text-white text-xl font-bold ml-2 text-nowrap md:text-2xl w-full mb-2"
          >
            {{ category.toUpperCase() }}
          </h2>
          <button [routerLink]="['explore']"
                  class="bg-white h-fit w-fit px-3 py-1 rounded-3xl text-2xl text-dull-violet font-tilt-neon">+
          </button>
        </div>
      </div>
    </div>
  }
} @else if (category === "dnf") {
  @if ((currentBooks$ | async)?.bookshelf!.dnf && (currentBooks$ | async)?.bookshelf!.dnf.length != 0) {
    <div class="flex flex-row w-full h-full overlow-y-scroll sm:overflow-y-hidden">
      <div
        class="bg-transparent  w-[32%] h-full rounded-md sm:w-1/5 overflow-none flex flex-wrap flex-row"
      >
        @if ((currentBooks$ | async)?.bookshelf && (currentBooks$ | async)?.bookshelf!.dnf) {
          @if ((currentBooks$ | async)?.bookshelf!.dnf.length < 4) {
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.dnf)[0]'
                 class="object-fit h-full w-full rounded-md">
          } @else {
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.dnf)[0]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-tl-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.dnf)[1]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-tr-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.dnf)[2]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-bl-md">
            <img alt="Book Cover Image" [src]='getCoverImage((currentBooks$ | async)!.bookshelf.dnf)[3]'
                 class="object-fit h-1/2 w-1/4 flex-grow basis-1/2 rounded-br-md">
          }
        }
      </div>
      <div
        class="category-container flex flex-col w-[65%] sm:w-9/10 h-full justify-between pl-4"
      >
        <div class="w-full h-fit flex flex-col gap-0">
          <div
            class="genre-container flex flex-row justify-start gap-2 overflow-x-scroll sm:overflow-hidden"
          >
            @if ((currentBooks$ | async)?.bookshelf!.dnf) {

              @for (bookCategory of getCategories((currentBooks$ | async)!.bookshelf.dnf); track bookCategory) {
                <div
                  class="bg-white rounded-2xl font-tilt-neon text-nowrap text-black text-xs w-fit h-fit px-2 py-1"
                >
                  {{ bookCategory.toLowerCase() }}
                </div>
              }
            }
          </div>
          <h2
            class="font-tilt-neon text-white text-xl font-bold mt-2 text-nowrap md:text-2xl"
          >
            {{ category.toUpperCase() }}
          </h2>
          <h3 class="font-tilt-neon font-extralight text-white text-sm">
            @if ((currentBooks$ | async)?.bookshelf!.dnf) {
              {{ getAuthorCount((currentBooks$ | async)!.bookshelf.dnf) }} authors
            }
          </h3>
        </div>

        <div class="pages-left-container align-bottom">
          <p
            class="font-tilt-neon font-semibold text-white text-3xl flex flex-row gap-2 justify-end align-self-end items-end"
          >
            @if ((currentBooks$ | async)?.bookshelf!.dnf) {
              <p
                class="font-tilt-neon font-semibold text-white text-3xl flex flex-row gap-2 justify-end align-self-end items-end"
              >
                {{ (currentBooks$ | async)!.bookshelf.dnf.length }}
                <span
                  class="text-sm font-tilt-neon"> {{ (currentBooks$ | async)!.bookshelf.dnf.length == 1 ? "book" : "books" }}
                          </span>
              </p>
            }
          </p>
        </div>

      </div>
    </div>


  } @else {
    <div class="flex flex-row w-full h-full overlow-y-scroll sm:overflow-y-hidden">
      <div
        class="bg-transparent  w-[32%] h-full rounded-md sm:w-1/5 overflow-none flex flex-wrap flex-row"
      >
        <img alt="Book Cover Image" src="assets/jaredd-craig-HH4WBGNyltc-unsplash.jpg"
             class="object-fit h-full w-full rounded-md">
      </div>
      <div
        class="category-container flex flex-col w-[65%] sm:w-9/10 h-full justify-between pl-4"
      >
        <div class="w-full h-full flex flex-col gap-0 justify-between items-end">
          <h2
            class="font-tilt-neon text-white text-xl font-bold ml-2 text-nowrap md:text-2xl w-full"
          >
            {{ category.toUpperCase() }}
          </h2>
          <button [routerLink]="['explore']"
                  class="bg-white h-fit w-fit px-3 py-1 rounded-3xl text-2xl text-indigo-dye font-tilt-neon mb-2">+
          </button>
        </div>
      </div>
    </div>
  }
}


